@import '../../css/variables.css';

.TodoCard {
  &__block {
    padding: 20px;
  }

  &__title {
    font-weight: 700;
    margin-bottom: 15px;

    &-text {
      font-size: 22px;
    }
  }

  &__exit-icon {
    width: 12px;
    height: 12px;
    position: absolute !important;
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2212px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2016%2016%22%20version%3D%221.1%22%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.117.323l-6.073%206.075-5.449-6.075c-.431-.431-1.131-.431-1.562%200-.431.431-.431%201.131%200%201.562l5.449%206.075-6.159%206.159c-.431.431-.431%201.134%200%201.562.431.431%201.131.431%201.562%200l6.075-6.073%205.449%206.073c.429.431%201.131.431%201.56%200%20.431-.429.431-1.131%200-1.562l-5.452-6.073%206.159-6.161c.431-.431.431-1.131%200-1.562-.431-.431-1.129-.431-1.56%200z%22%20fill%3D%22#98a6ad%22%2F%3E%3C%2Fsvg%3E');
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    right: 15px;
    top: 15px;
    text-decoration: none;
    z-index: 10;

    @mixin wide-click-area;
  }
}
