@custom-media --mobile (width <= 620px);

@define-mixin wide-click-area $top: 10px, $right: 10px, $bottom: 10px,
  $left: 10px {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: -$top;
    bottom: -$bottom;
    left: -$left;
    right: -$right;
    cursor: pointer;
  }
}
